.all-cards-container {
  display: inline-flex;
  justify-content: space-between;
}

.all-cards {
  display: inline-block;
  height: 300px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.school {
  margin: auto;
  width: 90%;
}

.location {
  font-size: 16px;
}

.school-name {
  font-size: 24px;
}



.url {
  width: 90%;
  overflow: scroll;
}
